pypdf
bs4
langchain-text-splitters
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_groq
langchain_core
streamlit
sentence-transformers
langchain
langchain_community
langchain_openai
langchain_experimental
langchain_google_genai
google.generativeai
python-dotenv
PyPDF2